schema_super.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--*******************************************************************************
* File Name: schema_super.xsd
*
* Version: 2.1
*
* Description:
*  This file contains the super manifest schema.
*
********************************************************************************
 * (c) 2018-2025, Infineon Technologies AG, or an affiliate of Infineon
 * Technologies AG. All rights reserved.
 * This software, associated documentation and materials ("Software") is
 * owned by Infineon Technologies AG or one of its affiliates ("Infineon")
 * and is protected by and subject to worldwide patent protection, worldwide
 * copyright laws, and international treaty provisions. Therefore, you may use
 * this Software only as provided in the license agreement accompanying the
 * software package from which you obtained this Software. If no license
 * agreement applies, then any use, reproduction, modification, translation, or
 * compilation of this Software is prohibited without the express written
 * permission of Infineon.
 *
 * Disclaimer: UNLESS OTHERWISE EXPRESSLY AGREED WITH INFINEON, THIS SOFTWARE
 * IS PROVIDED AS-IS, WITH NO WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING, BUT NOT LIMITED TO, ALL WARRANTIES OF NON-INFRINGEMENT OF
 * THIRD-PARTY RIGHTS AND IMPLIED WARRANTIES SUCH AS WARRANTIES OF FITNESS FOR A
 * SPECIFIC USE/PURPOSE OR MERCHANTABILITY.
 * Infineon reserves the right to make changes to the Software without notice.
 * You are responsible for properly designing, programming, and testing the
 * functionality and safety of your intended application of the Software, as
 * well as complying with any legal requirements related to its use. Infineon
 * does not guarantee that the Software will be free from intrusion, data theft
 * or loss, or other breaches ("Security Breaches"), and Infineon shall have
 * no liability arising out of any Security Breaches. Unless otherwise
 * explicitly approved by Infineon, the Software may not be used in any
 * application where a failure of the Product or any consequences of the use
 * thereof can reasonably be expected to result in personal injury.
*******************************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="qualified"
           elementFormDefault="qualified"
           xml:lang="EN"
           version="2.1">

  <!-- URI constraints
       - starts with "https://github.com/"
       - w/o whitespaces
  -->
  <xs:simpleType name="validURI">
    <xs:restriction base="xs:string">
      <xs:pattern value="https://github.com/\S+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="super-manifest">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="1" minOccurs="0" name="app-manifest-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="app-manifest">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="uri" type="validURI" maxOccurs="1" minOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="board-manifest-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="board-manifest">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="uri" type="validURI" maxOccurs="1" minOccurs="1"/>
                  </xs:sequence>
                  <xs:attribute name="dependency-url" type="validURI" use="optional"/>
                  <xs:attribute name="capability-url" type="validURI" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="middleware-manifest-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="middleware-manifest">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="uri" type="validURI" maxOccurs="1" minOccurs="1"/>
                  </xs:sequence>
                  <xs:attribute name="dependency-url" type="validURI" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="version" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
