schema_app.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--*******************************************************************************
* File Name: schema_app.xsd
*
* Version: 2.1
*
* Description:
*  This file contains the application manifest schema.
*
********************************************************************************
 * (c) 2018-2025, Infineon Technologies AG, or an affiliate of Infineon
 * Technologies AG. All rights reserved.
 * This software, associated documentation and materials ("Software") is
 * owned by Infineon Technologies AG or one of its affiliates ("Infineon")
 * and is protected by and subject to worldwide patent protection, worldwide
 * copyright laws, and international treaty provisions. Therefore, you may use
 * this Software only as provided in the license agreement accompanying the
 * software package from which you obtained this Software. If no license
 * agreement applies, then any use, reproduction, modification, translation, or
 * compilation of this Software is prohibited without the express written
 * permission of Infineon.
 *
 * Disclaimer: UNLESS OTHERWISE EXPRESSLY AGREED WITH INFINEON, THIS SOFTWARE
 * IS PROVIDED AS-IS, WITH NO WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING, BUT NOT LIMITED TO, ALL WARRANTIES OF NON-INFRINGEMENT OF
 * THIRD-PARTY RIGHTS AND IMPLIED WARRANTIES SUCH AS WARRANTIES OF FITNESS FOR A
 * SPECIFIC USE/PURPOSE OR MERCHANTABILITY.
 * Infineon reserves the right to make changes to the Software without notice.
 * You are responsible for properly designing, programming, and testing the
 * functionality and safety of your intended application of the Software, as
 * well as complying with any legal requirements related to its use. Infineon
 * does not guarantee that the Software will be free from intrusion, data theft
 * or loss, or other breaches ("Security Breaches"), and Infineon shall have
 * no liability arising out of any Security Breaches. Unless otherwise
 * explicitly approved by Infineon, the Software may not be used in any
 * application where a failure of the Product or any consequences of the use
 * thereof can reasonably be expected to result in personal injury.
*******************************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="qualified"
           elementFormDefault="qualified"
           xml:lang="EN"
           version="2.1">

  <!-- URI constraints
       - starts with "https://github.com/" or
         starts with "techpack:<key>/
       - w/o whitespaces
  -->
  <xs:simpleType name="validURI">
    <xs:restriction base="xs:string">
      <xs:pattern value="(https://github.com/\S+|techpack:[0123456789abcdef-]+/\S+)"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- commit constraints
       - no
  -->
  <xs:simpleType name="validCommit">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- capabilities constraints
       - whitespace-separated list
  -->
  <xs:simpleType name="validCapabilities">
    <xs:restriction base="xs:string">
      <xs:pattern value="([\w_]+(\s*[\w_]+)*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- capabilities constraints
       - whitespace-separated list
  -->
  <xs:simpleType name="validCapabilities_v2">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <!-- category constraints
       - comma-separated list
  -->
  <xs:simpleType name="validKeywords">
    <xs:restriction base="xs:string">
      <xs:pattern value="([\w -.]+(,[\w -.]+)*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- flow version
  1.0 stands for old flow
  2.0 stads for UF
       - #.#
  -->
  <xs:simpleType name="validFlow">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([\d]+.[\d]+)(,[\d]+.[\d]+)*)?"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- tools version
  package' major.minor.patch
       - #.#.#
  -->
  <xs:simpleType name="validToolsVersion">
    <xs:restriction base="xs:string">
      <xs:pattern value="([\d]+.[\d]+(.[\d]+)?)?"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ID constraints
       - whitespace-separated list
  -->
  <xs:simpleType name="validID">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:pattern value="\s*\S+\s*"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NAME constraints
       - no leading/trailing whitespaces
  -->
  <xs:simpleType name="validName">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:pattern value="\S+(\s+\S+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Not empty string constraint
  -->
  <xs:simpleType name="validString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="apps">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="app" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element name="name" type="validName" maxOccurs="1" minOccurs="1"/>
              <xs:element name="id" type="validID" maxOccurs="1" minOccurs="1"/>
              <xs:element name="uri" type="validURI" maxOccurs="1" minOccurs="1"/>
              <xs:element name="versions" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="version" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="num" type="validString" maxOccurs="1" minOccurs="1"/>
                          <xs:element name="commit" type="validCommit" maxOccurs="1" minOccurs="1"/>
                        </xs:all>
                        <xs:attribute name="flow_version" type="validFlow" use="optional"/>
                        <xs:attribute name="tools_min_version" type="validToolsVersion" use="optional"/>
                        <xs:attribute name="tools_max_version" type="validToolsVersion" use="optional"/>
                        <xs:attribute name="req_capabilities_per_version" type="validCapabilities" use="optional"/>
                        <xs:attribute name="req_capabilities_per_version_v2" type="validCapabilities_v2" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="0"/>
              <xs:element name="req_capabilities" type="validCapabilities" maxOccurs="1" minOccurs="0"/>
              <xs:element name="category" type="xs:string" maxOccurs="1" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="keywords" type="validKeywords" use="optional"/>
            <xs:attribute name="req_capabilities_v2" type="validCapabilities_v2" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string"/>
    </xs:complexType>
    <xs:key name="id">
      <xs:selector xpath="./*"/>
      <xs:field xpath="id"/>
    </xs:key>
  </xs:element>
</xs:schema>
